                <li class="list-group-item  friend__info"> {{!-- Friend Item list--}}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Recipient's username"
                            aria-label="Recipient's username with two button addons" disabled readonly>
                        <button class="btn btn-outline-secondary" type="button">Perfil</button>
                        <button class="btn btn-outline-secondary" type="button">Eliminar</button>
                    </div>
                </li>
