 <a class="__like btn btn-outline " data-containerId="${body}" data-commentId="${_id}" data-action="like" style="color: {{textColor}};">Me gusta</a>
      <a class="__like btn btn-outline " data-containerId="${body}" data-commentId="${_id}" data-action="dislike" style="color: {{textColor}};">No gusta</a>
      <a class="__like btn btn-outline" data-containerId="${body}" data-commentId="${_id}" data-action="reply" style="color: {{textColor}};">Responder</a>