

<div class="card" style="width: 10rem;">
  <img class="card-img-top" src="{{snippet.thumbnails.default.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{snippet.title}}</h5>
    <p class="card-text">{{contentDetails.itemCount}} Tracks</p>
  </div>
</div>