<div class="col-4 {{#if collapse}}collapse multi-collapse{{/if}}">
<div class="m-1 border border-2 rounded-3 card" style="width: 18rem;">
 {{!-- 
    <img src={{image}} class="card-img-top" alt="...">
 --}}   
    <div class="card-body card__container overflow-hidden">
        <h5 class="card-title card__title overflow-hidden">{{title}}</h5>
        <p class="card-text card__description text-truncate overflow-hidden">{{description}}</p>
        <a href="#" class="btn btn-primary">Ver post</a>
    </div>
</div>
</div>
{{!--  
 <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Collapsible list group</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">One</li>
        <li class="list-group-item">Two</li>
        <li class="list-group-item">Three</li>
      </ul>
      <div class="panel-footer">Footer</div>
    </div>
  </div>
</div> 
--}}