<div class="col-3  m-1 border border-2 rounded-3 card collapse multi-collapse" style="width: 18rem;">
    <img src={{image}} class="card-img-top" alt="...">
    <div class="card-body card__container overflow-hidden">
        <h5 class="card-title card__title overflow-hidden">{{title}}</h5>
        <p class="card-text card__description overflow-hidden">{{description}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>