<div class="col-4 {{#if collapse}}collapse multi-collapse{{/if}}">
  <div class="m-1 border border-2 rounded-3 card" style="width: 18rem;">
 {{!-- 
    <img src={{image}} class="card-img-top" alt="...">
--}}  
    <div class="card-body card__container overflow-hidden">
      <h5 class="card-title card__title overflow-hidden">{{title}}</h5>
      <p class="card-text card__description text-truncate overflow-hidden">{{description}}</p>
      <a href="/posts/{{_id}}" class="btn btn-primary">Ver post</a>
    </div>
  </div>
</div> 
