<header>
<h1>{{title}}</h1>
<p class="lead">Bienvendido a  {{title}}.La web de los fantaticos.</p> 

</header>
<main>
<p>Selecciona tus categorías favoritas</p>
<p>busca topic de los que eres fanatico dentro de  esas categorias</p>
<p>Unete al topic y consulta los posts de los otros fanáticos. Añade tus propios post</p>
<p>Crea nuevos topic e invita al resto de fanáticos a unirse.</p>
</main>
<footer>

</footer>
