@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Architects+Daughter&family=Comfortaa:wght@700&family=Fascinate&family=Oi&family=Pacifico&family=Permanent+Marker&family=Roboto:wght@500&display=swap"); /* 
font-family: 'Amatic SC', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Fascinate', cursive;
font-family: 'Oi', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif;

/* clores:
rosa: #fb369b
azul/morado oscuro: #1c2550
azul claro: #3c98e9
azul casi negro: #001a33
amarillo: #fdcf1b
naranja:#ffad19
*/


body {
  margin: 0px;
  padding: 0px;
  font-family: "Architects Daughter";
  background-color: #001a33;
  color: #fdcf1b;
   /* background-image: url("/images/stars2.png");
  background-repeat: repeat; */
}

a {
  outline: none;
  text-decoration: none;
}

/* 
.__footer{
  bottom: 0;
  left: 0;
} */

.__floatRight {
  padding: 4rem 4rem 0rem 1rem;
  /* margin-right: 5rem; */
  float: right;
}
.__bkgLog {
  background-image: url("/images/fondodos.png");
  background-repeat: repeat-y;
}

#__navBar {
  background-color: #001a33;
}

.__panelCard {
  background-color: #1c2550;
  color: #ffad19;
  border-radius: 20px;
  width: 18rem;
}

.__panelLink {
  color: #fb369b;
}

#choosePrf{
  background-color: #fb369b;
}


.__panelLinkB {
  background-color: #3c98e9;
  color: #ffad19;
  border: 1px solid #001a33;
}

.__containerPanel {
  background-image: url("/images/banner.png");
  background-repeat: repeat-x;
  background-position: center;
}

.__carouseImg {
  background-color: rgba(0, 0, 0, 0.8);
  filter: brightness(0.8);
}

/* .__postForm {
  width: 30%;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 2rem;
} */

/* #__hiddenFPost{
  transition-timing-function: cubic-bezier;
} */

div#__hiddenFPost{
  height:0px;
  width:0px;
  padding: .5em;
  box-sizing: border-box;
  visibility:hidden;
  overflow: hidden;
  font-weight: bold;
  transition: height 2s, width 2s, padding 1s, visibility 1s, opacity 0.5s ease-out;
}

.__postColor {
  color: #e49708;
}

.postCard {
  font-family: 'Architects Daughter', cursive;
  width: 30rem;
  margin: 2rem;
  border-radius: 5px;
}

.__imgFormPost {
  height: 4rem;
  margin:10px 2rem;
}

#__imgPost{
  width: 2rem;
  border-radius: 5px;
}
.__logForm {
  height: 100vh;
  width: 100%;
  background-image: url("../images/couple.png");
  background-repeat: no-repeat;
  background-position: center;
}

#__editForm {
  /* background-color: #fdd01bc0; */
  /* margin: 10px 100px; */
}

#__logo {
  width: 15rem;
}

.__buttonLogFormD {
  background-color: #3c98e9;
  border-color: #907fd0;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(255, 144, 0, 0.6);
  padding: 5px 50px 5px 50px;
}

.__buttonLogFormI {
  background-color: #8ee1c6;
  border-color: #907fd0;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(255, 144, 0, 0.6);
  padding: 5px 50px 5px 50px;
}

.__buttonEditForm {
  background-color: #ffad19;
  border-color: rgb(255, 144, 0);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(255, 144, 0, 0.6);
  padding: 5px 50px 5px 50px;
}


.__imputColorI {
  background: #f6b850;
  border: 0;
}

.__imputColorD {
  background: #f6b850;
  border: 0;
}

.__commentForm {
  background: #14100186;
  width: 100;
}

.__commets {
  margin: 1rem 10rem;
}

.__commentDiv {
  border-bottom: 1px solid #fb369b;
}

.__editForm {
  background: #f6b850;
  border: 0;
  border-bottom: 1px solid #fb369b;
  outline: none;
  border-radius: 0px;
}

input[type="range"] {
  background-color: #fb369b;
  -webkit-appearance: left;
  background-color: linear-gradient(
    to right,
    #02c38a calc(var(--value) * 1%),
    black 0
  );
}

input[type="range"]:focus {
  outline: none;
  background-color: #fb369b;
}

.__emergency {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.ytbCardP {
  border-radius: 20px;
}

#modalPlay {
  color: #fb369b;
}

textarea:focus,
input:focus,
input[type]:focus {
  border-color: rgb(255, 144, 0);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(255, 145, 0, 0);
  outline: 0 none;
  background-color: #ffad19;
}

.__menuUser {
  font-size: 2rem;
}

#whatIsIt {
  background-color: #fdcf1b;
  height: 80vw;
}

.form-signin-container {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.card__container {
  max-height: 160px;
  
}
.card__description {
  height: 50px;
}
.card__title {
  height: 25px;
}

.category__button {
  background: #fb369b;
  width: fit-content;
  height: fit-content;
}
