<div class="text-center form-signin-container">
    <main class="form-signin">
        <form action="/login" method="POST">
            <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="logo" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
            <label for="inputUserName" class="visually-hidden">User Name</label>
            <input type="text" id="userName" value="{{user.userName}}"
                class="form-control {{#if errors.userName}}is-invalid{{/if}}" placeholder="User name" name="userName"
                required="" autofocus="">
            {{#if errors.userName}}
            <div class="invalid-feedback">
                {{errors.userName}}
            </div>
            {{/if}}
            <label for="inputPassword" class="visually-hidden">Password</label>
            <input type="password" id="password" class="form-control {{#if errors.password}}is-invalid{{/if}}"
                placeholder="Password" name="password" required="">
            {{#if errors.password}}
            <div class="invalid-feedback">
                {{errors.password}}
            </div>
            {{/if}}

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up </button>
            {{#if message}}
            <p>{{message}}</p>
            {{/if}}
        </form>
    </main>
</div>