<div class="container">
    <h1>Páginas</h1>
    <h2 class="m-5">Tus páginas:</h2>
    <div class="container">
        <div class="row">
    {{#each pages as |page|}}
    <div class="col-4 my-2">
    <div class="" style="width: 300px; background-color: {{backgroundColor}}; color: {{textColor}};">
    {{> pages}}
    </div>
    </div>
    {{/each}}
    </div>
    </div>
</div>