<div class="row align-items-center">
    <h2 class="m-5">Tus páginas:</h2>
    <div class="col-6 d-flex">
        {{#each pages as |page|}}
        <div class="m-4" style=" background-color: {{backgroundColor}}; color: {{textColor}};">
            {{> pages}}
        </div>
        {{/each}}
    </div>
  
</div>
</div>