<div class="container text-center">
    <h1 class="my-5">{{userName}}</h1>
    <h3>Algo sobre mi</h3>
    <div>
        <ul class="nav justify-content-center mt-4 ">
            <li class="nav-item">
                <a class="nav-link active text-dark" aria-current="page" href="#">Librería</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Páginas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/posts/create">Posts</a>
            </li>
            <li class="nav-item">
<<<<<<< HEAD
                <a class="nav-link text-dark" href="/control">Crear</a>
=======
                <a class="nav-link text-dark" href="/posts/create">Crear un post</a>
>>>>>>> main
            </li>
        </ul>
    </div>
    {{!-- <button type="button" class="btn btn-danger" id="__ytb">Danger</button>
    <a class="btn btn-lg btn-primary mx-5" style="background-color: #3c98e9;" href="/youtube/playlists">Youtube</a> --}}
</div>

<div class="container text-center">
    <div class="videoPlayer embed-responsive embed-responsive-21by9">
    </div>
</div>



{{!-- <div class="container">
    <div class="row">
        <h2>Playlists</h2>
        {{#each items}}
        {{> playlistCard }}
        {{/each}}
    </div>
</div> --}}
<div class="container-fluid text-center fixed-bottom">
    <audio id="audio" controls="controls" type="audio/mpeg" preload="preload">
        <source id="audioSource" src="">
        </source>
        Your browser does not support the audio format.
    </audio>
</div>