<div class="container text-center">
    <h1 class="my-5">Nombre{{name}}</h1>
    <h3>Algo sobre mi</h3>
    <div>
        <ul class="nav justify-content-center mt-4 ">
            <li class="nav-item">
                <a class="nav-link active text-dark" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/posts/create">Crear un post</a>
            </li>
        </ul>
    </div>
</div>
