<div class="col">
    <div class="row">
        <h1>Create post</h1>
    </div>
    <form>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Example input placeholder">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Another input placeholder">
        </div>
        <div class="mb-3">
            <label for="tags" class="form-label">Tags</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese sus etiquetas separadas por comas">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Imagen? video? mirar</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
        </div>
    </form>
</div>