<div class="container" id="__hiddenFPost" style="display: none;">
    <div class="col __postForm">
        <form action="/posts/create" method="POST">
                <div class="text-center">
                    <input type="hidden" name="userName">
                    <input type="hidden" name="userImg">
                    <h4 class="my-4">Crea un post</h4>
                    <div class="mb-3">
                        <label for="title" class="form-label visually-hidden"></label>
                        <input type="text" class="form-control __imputColorI" id="title" name="titulo"
                            placeholder="Pon un título...">
                        
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label visually-hidden">Description</label>
                        <textarea class="form-control __imputColorI" type="text" id="description" name="description"
                            placeholder="¿Qué te cuentas?"></textarea>
                    </div>
                    <div class="text-center">
                        <p>Si quieres puedes añadir una imagen o un vídeo</p>
                        <a href=""><img src="/images/video.png" class="__imgFormPost" alt=""></a>
                        <a href=""><img src="/images/camara.png" class="__imgFormPost" alt=""></a>
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label visually-hidden">Imagen</label>
                        <input type="text" class="form-control __imputColorI" name="image"
                            placeholder="Pon el enlace a una imagen">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label visually-hidden">Imagen</label>
                        <input type="text" class="form-control __imputColorI" name="video"
                            placeholder="Pon el enlace a un video">
                    </div>
                    <div class="mb-3">
                        <label for="tags" class="form-label visually-hidden">Tags</label>
                        <input type="text" class="form-control __imputColorI" id="tags" name="tags"
                            placeholder="Ingrese sus tags separados por comas" value="{{tags}}">
                    </div>
                    <button type="submit" class="btn __buttonEditForm"></button>
                </div>
            </form>
    </div>
</div>


<div  class="container-fluid">
	<a id="__idea" class="btn __floatRight sticky-top"><img src="/images/luz.png" alt=""></a>
	<div id="clousePostForm" class="container">
		<section class="row">
			{{#each posts as |post|}}
			<div class="col">
				{{>post}}
			</div>
			{{/each}}
		</section>
	</div>
</div>

